// Variables

// Colors
$hmodal-white:      #ffffff;
$hmodal-black:      #000000;
$hmodal-primary:    #378fe9;
$hmodal-active:     #1967b3;
$hmodal-width:      500px;
$hmodal-transition: .3s;

$hmodal-border-color:    #000000;

$hmodal-close-icon-color:           #ccc;
$hmodal-close-icon-color-active:    $hmodal-black;
